In [5]:
import pandas as pd
from ydata_profiling import ProfileReport
from IPython.display import HTML

df = pd.read_csv('loan - Copy.csv')
profile = ProfileReport(df, title="Profiling Report")

# Save to HTML
profile.to_file("loan_profiling_report.html")
HTML('<a href="loan_profiling_report.html" target="_blank">Click here to view the profiling report</a>')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|████████████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 1473.11it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
df.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard,Personal Loan
0,25,1,49,4,1.6,1,0,1,0,0,0,0
1,45,19,34,3,1.5,1,0,1,0,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,1,0